@media (max-width: 1440px){
    .container_produt {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
}
@media (max-width: 768px){
    .container_produt {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
}   
