@import url(./fonts.css);
@import url(./adaptation.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
button {
  border: none;
  background: inherit;
  outline: none;
  cursor: pointer;
}
h1 {
  color: rgb(43, 38, 38);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 600;
  line-height: 78px;
  letter-spacing: 0%;
}
h2 {
  color: rgb(43, 38, 38);
  font-family: Montserrat;
  font-size: 44px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0%;
}
input {
  border: none;
  background: none;
  outline: 0;
}
body {
  background: #f5f5f5;
  overflow-x: hidden;
}
header {
  margin: 20px 0;
}
.header {
  margin-top: 37px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart {
  margin-left: 38px;
  margin-right: 23px;
  width: 229px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #10b981;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
  color: #2b2626;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 375% */
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header_left {
  display: flex;
  align-items: center;
}
.profile_img,
.shoping_img {
  margin-right: 10px;
}
.profile {
  width: 247px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #10b981;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 375% */
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.logo {
  color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.Shop {
  color: #10b981;
  font-family: Montserrat;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.search {
  width: 322px;
  height: 63px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 15px 50px 0px rgba(46, 131, 158, 0.07);
  padding-left: 32px;
  color: var(--Text-20, rgba(41, 41, 48, 0.2));
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 375% */
}
.nav {
  display: flex;
  height: 81px;
  flex-shrink: 0;
  background: #10b981;
  margin-top: 69px;
  justify-content: center;
  gap: 75px;
  align-items: center;
  list-style-type: none;
}
.link {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.about {
  margin-left: 85px;
  display: flex;
  gap: 129px;
}
.h2 {
  width: 545px;
  color: #2b2626;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 126px;
}
.h1 {
  width: 549px;
  color: #2b2626;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 166.667% */
  margin-top: 30px;
}
.about_btn {
  width: 263px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #10b981;
  box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.15);
  color: #fff;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  margin-top: 50px;
}
.about_reviews {
  display: flex;
  justify-content: start;
  align-items: center;
}
.icon {
  position: relative;
  width: 180px;
  margin-top: 107px;
}
.icon_1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.icon_2 {
  position: absolute;
  left: 37px;
}
.icon_3 {
  position: absolute;
  left: 74px;
}
.icon_4 {
  position: absolute;
  left: 111px;
}
.about_reviews_text {
  font-size: 26px;
  line-height: 35px;
  font-weight: 500;
  color: var(--textprimarycolor);
  display: inline-block;
  width: 120px;
  margin-left: 14px;
  margin-top: 100px;
  color: #2b2626;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 134.615% */
}
.about_product {
  width: 272px;
  height: 477px;
  flex-shrink: 0;
  border-radius: 136px;
  background: #ecfef4;
  margin-top: 169px;
}
.button_play_video {
  width: 84px;
  height: 84px;
  flex-shrink: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.img_headphones {
  width: 278px;
  height: 439px;
}
.play_video {
  margin: -130px;
}
.play_vido_text {
  width: 112px;
  color: #2b2626;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 166.667% */
  margin-left: -8px;
  cursor: pointer;
}
.pre_saler {
  background: #845ec2;
  margin-top: 85px;
  padding-bottom: 40px;
}
.container_produt {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}
.left_block {
  padding-top: 73px;
  flex-shrink: 0;
  margin-left: 60px;
}
.text_product {
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #845ec2;
  opacity: 0.5;
  text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.products_img {
  padding-top: 37px;
  position: relative;
}
.icon_product_1 {
  width: 190px;
  height: 331px;
}
.icon_product_2 {
  position: relative;
  top: -62px;
  margin: 0 35px;
}
.price {
  margin-left: 200px;
  font-size: 31px;
  line-height: 35px;
  font-weight: 400;
  color: #ffffff;
  font-family: Montserrat;
}
.text_price {
  display: inline-block;
}
.price_dollars {
  display: inline-block;
  font-weight: 600;
  margin-left: 20px;
}
.offer {
  color: #fff;
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.text_offer {
  color: #fff;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 166.667% */
  margin-top: 10px;
  margin-bottom: 37px;
}
.offer_button {
  width: 263.183px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #10b981;
  box-shadow: 0px 25px 50px 0px rgba(255, 255, 255, 0.1);
  font-family: Montserrat;
  border: none;
  font-size: 25px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.view_more {
  width: 120.083px;
  color: #fff;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 166.667% */
  margin-left: 16px;
  text-decoration: none;
}
.top_sallers {
  padding-bottom: 27px;
  padding-top: 80px;
}
.center {
  text-align: center;
}
.sections_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
  cursor: pointer;
}
.sections_button button {
  border: none;
  outline: none;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 26px;
  font-weight: 600;
  background-color: inherit;
  padding: 30px 30px;
  cursor: pointer;
}

.sections_button button:hover,
.sections_button .active {
  background-color: #10b981;
  border-radius: 50%;
  color: #ffffff;
}
.products {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.product {
  max-width: 360px;
  width: 100%;
}
.product_info {
  padding: 20px;
  border-radius: 20px;
}
.green {
  background: rgb(236, 254, 244);
}
.green .save {
  background-color: #10b981;
}
.blue {
  background: #c9f2ff;
}
.product_info_img {
  position: relative;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 55px;
}
.product_info_img img {
  width: 196px;
}
.save {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 600;
}
.product_info_text {
  border-radius: 15px;
  background: rgb(255, 255, 255);
  padding: 30px 40px;
}
.product_title {
  font-weight: 800;
  margin-bottom: 11px;
}
.product_info_rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.product_rating {
  font-weight: 500;
  font-size: 12px;
  margin-left: 10px;
}
.dollar {
  font-weight: 600;
  font-size: 21px;
}
.add_to_cart {
  border-radius: 10px;
  box-shadow: 0px 25px 50px 0px rgba(255, 255, 255, 0.1);
  background: rgb(16, 185, 129);
  width: 100%;
  margin-top: 30px;
  padding: 22px 0px;
  font-size: 21px;
  font-weight: 600;
  color: white;
}
.save_2 {
  background-color: #845ec2;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 600;
}
.purple {
  background-color: #E5D5FF;
}
.last_sallers {
  margin-top: 130px;
}
.fon1 {
  background: #E0EFFF;
}
.save_3 {
    background-color: #845ec2;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
}
.fon2 {
  background: #E8F9FF;
}
.fon3 {
  background: #D3FBFB;
}
.save_4 {
  background-color: #08BDBE;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 600;
}
.trending {
  margin-top: 130px;
  margin-bottom: 120px;
  text-align: center;
}
.text_offer_2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 166.667% */
  margin-top: 10px;
  margin-bottom: 37px;
}
.Airdrop {
  background: #845ec2;
}
.icon_product_21 {
  position: relative;
  top: -62px;
  margin: 0 35px;
}
.tumbler_left {
  position: relative;
  bottom: 260px;
  left: -30px;
}
.tumbler_right{
  position: relative;
  left: 262px;
  bottom: 162px;
}
.price_2 {
  font-size: 31px;
  line-height: 35px;
  font-weight: 400;
  color: #ffffff;
  font-family: Montserrat;
}
.color {
  display: flex;
  gap: 20px;
  padding: 50px 0px;
}
.right_block {
  width: 584px;
}
.footer {
  display: flex;
  flex-direction: column;
  max-width: 1108px;
  padding: 0 20px;
  justify-content: center;
  margin: 130px auto;
}
.text_question {
  font-size: 22px;
  line-height: 29px;
  font-weight: 600;
}
.nav_1 {
  min-height: 91px;
  display: flex;
  justify-content: end;
  align-items: baseline;
  gap: 40px;
}
.btn_nav_1 {
  border-radius: 0px;
  background: rgb(16, 185, 129);
  width: 175px;
  height: 50px;
  font-family: DM Sans;
  font-size: 17px;
  color: white;
  cursor: pointer;
}
.nav_2 {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.nav_p {
  color: rgb(17, 17, 17);
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 40px;
}
.nav_form_btn {
  position: relative;
    margin-top: 30px;
}
.nav_form_btn button {
  position: absolute;
    right: 0;
    border-radius: 10px 10px 0 0;
    border: none;
    width: 50px;
    height: 50px;
    background-color: #10B981;
}
.nav_form_btn input {
  width: 289px;
    height: 51px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid gray;
}
.nav_service {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none
}
.service_top {
  color: rgb(16, 185, 129);
  font-family: DM Sans;
  font-size: 17px;
  font-weight: 400;
}
.service {
  color: rgb(17, 17, 17);
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}
.nav_about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;
}
.nav_help {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;
} 
.nav_3 {
  margin-top: 70px;
}
.nav_confidecion {
  color: rgb(17, 17, 17);
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}
.nav_confidecion_2 {
  color: rgb(17, 17, 17);
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 40px;
}
.fb {
  margin-left: 650px;
}
.tw {
  margin-left: 30px;
}
.inst {
  margin-left: 30px;
}
@media (max-width: 1440px) {
  .container_produt {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .right_block {
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .cart,
  .profile {
    display: none;
  }
  .container_produt {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .text_product {
    text-align: center;
    font-size: 42px;
  }
  .about_product {
    display: none;
  }
  .icon_product_2 {
    position: relative;
    top: -60px;
    margin: 0 19px;
}
  .products {
    width: 100%;
    flex-direction: column;
    gap: 70px;
    align-items: center;
  }
.color {
    display: flex;
    gap: 32px;
    padding: 56px 0px;
    margin-left: 197px;
  }
}
@media (max-width: 360px) {
  .header_top {
    flex-direction: column;
    gap: 25px;
  }
  .search {
    width: 257px;
    height: 48px;
  }
  .link {
    font-size: 14px;
  }
  .nav {
    gap: 20px;
  }
  .about {
    margin-left: 0;
  }
  .h1,
  .h2 {
    width: auto;
  }
  .h1 {
    font-size: 20px;
  }
  .h2 {
    font-size: 50px;
  }
  .icon_product_1 {
    display: none;
  }
  .icon_product_2 {
    position: static;
    margin: 0;
  }
  .price {
    margin-left: 0;
    margin-top: 30px;
  }
  .icon_product_3 {
    display: none;
  }
  .container_produt {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .text_product {
    text-align: center;
    font-size: 42px;
  }
  .products_img {
    text-align: center;
  }
  .icon_product_1 {
    width: 150px;
  }
  .price {
    text-align: center;
  }
  .view_more {
    margin-left: 0;
    margin-top: 20px;
  }
  .text_offer {
    margin-top: 29px;
    margin-bottom: 37px;
  }
  .offer_button {
    margin-bottom: 20px;
  }
  .sections_button {
    flex-direction: column;
  }
  .icon_product_21 {
    display: none;
  }
  .right_block {
    max-width: 300px; 
  }
  .color {
    margin-left: 63px;
  }
  .view_more {
    margin-left: 56px;
  }
  .nav_2 {
    flex-direction: column;
    gap: 64px;
  }
  .tumbler_left {
    display: none;
  }
}
