* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input {
    border: none;
    background: none;
    outline: 0;
}
body {
    background: #F5F5F5;
}
header {
    margin: 20px 0;
    margin-top: 35px;
}
.container {
    padding: 0 15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; 
}
.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_left {
    display: flex;
    align-items: center;
}
.cart {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 38px;
    margin-right: 23px;
    width: 229px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #10B981;
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.10);
    color: #2B2626;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px; /* 375% */
    cursor: pointer;
}
.profile {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 247px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #10B981;
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px; /* 375% */
    border: none;
    cursor: pointer;
}

.cart img,
.profile img{
    margin-right: 10px;
}
.logo {
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.Shop {
    color: #10B981;
    font-family: Montserrat;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.search {
    width: 322px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 15px 50px 0px rgba(46, 131, 158, 0.07);
    padding-left: 32px;
    color: var(--Text-20, rgba(41, 41, 48, 0.20));
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px; /* 375% */
}
.nav {
    display: flex;
    height: 81px;
    flex-shrink: 0;
    background: #10B981;
    margin-top: 69px;
    justify-content: center;
    gap: 75px;
    align-items: center;
    list-style-type: none;
}
.link {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
.about {
    padding-top: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about_info > h2 {
    max-width: 545px;
    color: #2B2626;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.about_info > p {
    max-width: 550px;
    color: #2B2626;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px; /* 166.667% */
    margin-top: 30px;
}
.about_btn {
    width: 263px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #10B981;
    box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.15);
    color: #FFF;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    margin-top: 50px;
}
.about_reviews {
    margin-top: 60px;
    display: flex;
    align-items: center;
}
.icon {
    position: relative;
    width: 180px;
}
.icon_1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.icon_2 {
    position: absolute;
    left: 37px;
}
.icon_3 {
    position: absolute;
    left: 74px;
}
.icon_4 {
    position: absolute;
    left: 111px;
}
.about_reviews_text {
    font-size: 26px;
    line-height: 35px;
    font-weight: 500;
    color: var(--textprimarycolor);
    display: inline-block;
    max-width: 120px;
    color: #2B2626;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px; /* 134.615% */
}
.about_product {
    position: relative;
    width: 272px;
    height: 477px;
    flex-shrink: 0;
    border-radius: 136px;
    background: #ECFEF4;
}
.button_play_video {
    width: 84px;
    height: 84px;
    flex-shrink: 0;
    background: none;
    border: none;
    cursor: pointer;
}
.img_headphones {
    width: 278px;
    height: 439px;
}
.play_video {
    position: absolute;
    left: -150px;
    bottom: 70px;
}
.play_vido_text {
    width: 112px;
    color: #2B2626;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px; /* 166.667% */
    margin-left: -8px;
    cursor: pointer;
}
.presaler {
    height: 591px;
    background: #845EC2;
    margin-top: 85px;
}
.text_product {
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #845EC2;
    opacity: 0.5;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}