* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input {
    border: none;
    background: none;
    outline: 0;
}
body {
    background: #F5F5F5;
}
header {
    margin: 20px 0;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; 
}
.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart {
    margin-left: 38px;
    margin-right: 23px;
}
.logo {
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.Shop {
    color: #10B981;
    font-family: Montserrat;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.search {
    width: 322px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 15px 50px 0px rgba(46, 131, 158, 0.07);
    padding-left: 32px;
    color: var(--Text-20, rgba(41, 41, 48, 0.20));
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px; /* 375% */
}